<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            <div style="margin:0 auto; padding:20px 0;">
                <a
                 target="_blank"
                 href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010602007043"
                 style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                    <img
                     src="https://pic.downk.cc/item/5e27dbc62fb38b8c3cdb958c.png"
                      style="vertical-align: text-top;">
                    <p style="display:inline-block; height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                        京公网安备 11010602007043号
                    </p>
                </a>
                <p style="display:inline-block;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                    京ICP备19060110号- 1
                </p>
            </div>
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
            Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="http://github.com/ppoffice">PPOffice</a>
        </div>
    </div>
</footer>